<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
    <form class="form-login" method="post" action="/login">
        <input class= "input-login" type="text" name="username" class="class-book" placeholder="USERNAME">
        <input class= "input-login" type="password" name="password" class="class-book" placeholder="PASSWORD">
        <input class="button-login" type="submit" value="LOGIN">
    </form>
</body>
</html>