<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form class="form-add" method="post" action="/register">
        <input class= "input-register" type="text" name="username" class="class-book" placeholder="USERNAME">
        <input class= "input-register" type="password" name="password" class="class-book" placeholder="PASSWORD">
        <input class= "input-register" type="password" name="password_confirm" class="class-book" placeholder="CONFIRMATION PASSWORD">
        <input class="button-register" type="submit" value="ADD NEW USER">
    </form>
</body>
</html>